<html>

<head>
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
</head>

<body ng-app="githubApp" ng-controller="githubController">

    <h3>{{ appTitle }}</h3>
    <h4>{{ appDesc }}</h4>

    <div>
        <form ng-submit="getRepos()">
            <input type="text" ng-model="repoName">
            <input type="submit" value="get">
        </form>
    </div>

    <div ng-show="canSearch">
        <span>search: </span>
        <input type="text" ng-model="searchTerm"><br/>
        <input type="radio" ng-model="searchMode" name="searching" value="name" >Name<br/>
        <input type="radio" ng-model="searchMode" name="searching" value="desc">Description<br/>
    </div>

    <div>
        <ol>
            <li ng-repeat="repo in repos | searchRepoFilter:searchTerm:searchMode">
                <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
                <span>{{repo.description}}</span>
                <a href="">X</a>
            </li>
        </ol>
    </div>

    <script src="app.js" type="text/javascript"></script>
</body>

</html>
